---
---

@import "variables";

.center {
  text-align: center;
}


/* Truncate text with ellipsis if it overflows the container */
/*.truncate:not(:focus) {    
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}*/

[data-hide="true"] {
  display: none !important;
}
