<head>
  <title>
    {{ site.title }}{% if page.title %} - {% endif %}{{ page.title }}
  </title>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <meta name="description" content="The Intelligent Visualization Lab at York University develops multimodal AI, visualization, and natural language processing methods to make data interaction more accessible, responsible, and human-centered.">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

  {% include meta.html %}
  {% include icons.html %}
  {% include fonts.html %}
  {% include styles.html %}
  {% include scripts.html %}
</head>
