<!-- ...Paper Sorting... -->
{% assign papers = site.data.research-output %}
{% assign papers = papers | sort: "date" %}
{% assign byyear = papers | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" %}
<!-- ...Paper Sorting Ended... -->
{% assign byyear = papers | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for yeargroup in byyear %}

### {{ yeargroup.name }}
{:.card_search_hide}

{% for paper in yeargroup.items %}

{% assign authors = paper.authors | join: ", " %}

{%- capture details -%}
{{- paper.publisher -}}
&nbsp; · &nbsp;
<!-- Full Date -->
<!-- {{- paper.date | date: "%d %b %Y" -}} -->
<!-- Month and Year only -->
<!-- {{- paper.date | date: "%b %Y" -}} -->

<!-- Year Only -->
{{- paper.date | date: "%Y" -}}
{%- endcapture -%}

{% capture tags %}
{% include tags.html tags=paper.tags repo=paper.repo %}
{% endcapture %}

<!-- ...Extra Links... -->
{% capture extralinks %}
{% assign has_links = false %}
{% if paper.extra-links and paper.extra-links.size > 0 %}
<div>
  {%- for link in paper.extra-links -%}
    {% assign href = link.link | default: "" | strip %}
    {% if href != "" %}
      {% include paper-link.html type=link.type link=href text=link.text %}
      {% assign has_links = true %}
    {% endif %}
  {%- endfor -%}
</div>
{% endif %}
{% if has_links == false %}
{% assign extralinks = "" %}
{% endif %}
{% endcapture %}
<!-- ...Extra Links Ended... -->


{%
  include card.html
  size="small"
  image=paper.image
  link=paper.link
  heading=paper.title
  truncate=2
  row1=authors
  row2=details
  row3=tags
  row4=extralinks
%}

{% endfor %}

{% endfor %}
